.header {
    z-index: 1000;
    margin-left: 2em;
    margin-top: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .5);
    width: calc(100% - 4em);
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
}

.header > *{
    width: 100%;
}


@media screen and (max-width: 895px) {
    .header {
        flex-direction: column;
        gap: 2em;
    }
}

@media screen and (max-width: 530px) {
    .header {
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }

}